---
import "./Letter.css";
---

<main>
  <header>
    <h1 id="heading1"></h1>
    <h2 id="heading2"></h2>
    <h3 id="heading3"></h3>
    <script src="./TypingEffect.js"></script>
  </header>
  <section>
    <p id="ParagraphFirst"></p>
    <br />
    <p id="ParagraphSecond"></p>
    <br />
    <p id="ParagraphThird"></p>
    <br />
    <p id="ParagraphFour"></p>
    <br />
    <p id="ParagraphFive"></p>
    <br />
    <p id="ParagraphSix"></p>
    <br />
  </section>
</main>
