main {
	border-radius: 22px;
	width: 33%;
	height: 90vh;
	background: linear-gradient(#3f87a6 10%, #ebf8e1a2 10%),
		linear-gradient(to right, #ebf8e100 10%, #c73030 10.2%, #ebf8e100 10.5%);
	background-size: 100% 20px, 100% 100%;
	background-repeat: repeat, no-repeat;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	padding: 20px 15px;
}

h1 {
	font-family: "Rubik Burned", serif;
	font-weight: normal;
	text-align: left;
	color: #243642;
	word-wrap: break-word;
	max-width: 75%;
}

h2 {
	align-self: flex-end;
	text-align: right;
	font-family: "Love Ya Like A Sister", serif;
	font-weight: 400;
	color: #243642;
	max-width: 66%;

}


.cursor {
	color: black;
	transition: opacity 0.1s ease-in-out;
	font-family: "Rubik Glitch", serif;
	font-weight: 400;
	font-style: normal;
}


@media only screen and (max-width: 430px) {
	main {
		width: 100%;
		height: 90vh;
		border-radius: 0;
	}

	header {
		align-items: center;
		justify-content: space-between;
	}

	h1 {
		font-size: 1.9rem;
		max-width: 90%;
	}
}