main {
	border-radius: 22px;

	width: 33%;
	height: 90vh;
	background: linear-gradient(#3f87a6 10%, #ebf8e1a2 10%),
		linear-gradient(to right, #ebf8e100 10%, #c73030 10% 10.2%, #ebf8e100 10.5%);
	background-size: 100% 25px, 100% 100%;
	background-repeat: repeat, no-repeat;
}


@media only screen and (max-width: 430px) {
	main {
		width: 90%;
		height: 90vh;
	}
}