---
import "./Layout.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/heart.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Una... Carta... Para vos</title>
  </head>
  <body>
    <slot />
  </body>
</html>
